html {
    scroll-behavior: smooth;
} 
body {
    font-family: 'Raleway';
    background-image:url("../images/bodybg.jpg");
    height:auto;
    /* background-color: cornflowerblue; */
}
.transparent{
    background-color: transparent;
}
.profile{
    background-image: url("../images/divbg.jpg");
}
 
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(51, 49, 49);
  transform: translate(-50%, -50%);
}
.bottom-text{
  position: absolute; 
  bottom: 0px;
  color:white;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
} 
footer{
   position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
