html {
    scroll-behavior: smooth;
} 
body {
    font-family: 'Raleway';
    background-image:url("../images/bodybg.jpg");
    height:auto;
    /* background-color: cornflowerblue; */
}
.transparent{
    background-color: transparent;
}
.profile{
    background-image: url("../images/divbg.jpg");
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}
.bottom-text{
  position: absolute; 
  bottom: 0px;
  color:white;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
} 
footer{
   position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
